<nav class="header">
    <a id="home-button">Home</a>
    <a id="log-in-button">Log in</a> <!-- If logged out -->
    <a id="log-out-button">Log out</a> <!-- If logged in -->
</nav>

<nav id="new-post-box">
    <input type="text" id="new-post-title-input" placeholder="New Title">
    <input type="text" id="new-post-input" placeholder="New Post">
    <button id="post-button">Post</button>
</nav>

<nav id="post-holder">
    <nav class="post">
        <h2 class="title">Title</h2>
        <p class="body">Text Post Body</p>
    </nav>
</nav>